#website-title{
    color: gold;
    text-align: center;
    padding: 50px;
    background: url(./pics/perfumes.jpg);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}
.nav{
    display: flex;
    
  margin: 0 auto;
  position: relative;
  
}
.nav > li > a{
    
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
.nav ul {
    background: #fff;
    height: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all .5s ease;
    top: 35px;
    width: 100%;
  }
  
  .nav li:hover ul {
    height: auto;
    opacity: 1;
    transform: translateY(0);
  }
  
  .nav ul a {
    color: #000;
    display: block;
    padding: 5px 20px;
  }

  .ipnut-group *{
    margin: 0;
    position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  }