<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #333;
        }
        .product-form {
            margin-top: 20px;
        }
        .functionality-button {
            width: 15%;
            padding: 10px;
            background-color: #007bff;
            border: none;
            border-radius: 3px;
            color: #fff;
            cursor: pointer;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            display: block;
            font-weight: bold;
        }
        .form-group input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        .form-group button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .form-group button:hover {
            background-color: #0056b3;
        }
        #add-message{
            text-align:center;
            margin-top:15px;
        }
        #remove-message{
            text-align:center;
            margin-top:15px;
        }
        #update-message{
            text-align:center;
            margin-top:15px;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>Employee Dashboard</h1>
    <div class="product-form">
        <h2>Get All Products</h2>
        <div class="form-group">
            <button type="button" class="functionality-button" onclick="getAllProducts()">Get All Products</button>
            <div id="productList"></div>
            <button id="clearButton" style="display:none" type="button"
                    class="functionality-button" onclick="clearProductList()">Clear</button>
        </div>
    </div>

    <div class="product-form">
        <h2>Add Product</h2>
        <form id="addProductForm" action="/dashboard/addProduct" method="POST">
            <div class="form-group">
                <label for="productName">Product Name:</label>
                <input type="text" id="productName" name="productName" required>
            </div>
            <div class="form-group">
                <label for="productType">Product Type:</label>
                <input type="text" id="productType" name="productType" required>
            </div>
            <div class="form-group">
                <label for="productDescription">Product Description:</label>
                <input type="text" id="productDescription" name="productDescription" required>
            </div>
            <div class="form-group">
                <label for="productPrice">Product Price:</label>
                <input type="text" id="productPrice" name="productPrice" required>
            </div>
            <div class="form-group">
                <label for="productQuantity">Product Quantity:</label>
                <input type="text" id="productQuantity" name="productQuantity" required>
            </div>
            <p id="add-message"></p>
            <div class="form-group">
                <button type="button" class="add-button" onclick="addProduct()">Add Product</button>
            </div>
        </form>
    </div>

    <div class="product-form">
        <h2>Remove Product</h2>
        <form id="removeProductForm" action="/dashboard/removeProduct" method="POST">
            <div class="form-group">
                <label for="productId">Product ID:</label>
                <input type="text" id="productId" name="productId" required>
            </div>
            <p id="remove-message"></p>
            <div class="form-group">
                <button type="button" class="remove-button" onclick="removeProduct()">Remove Product</button>
            </div>
        </form>
    </div>

    <div class="product-form">
        <h2>Update Product</h2>
        <form id="updateProductForm" action="/dashboard/updateProduct" method="POST">
            <div class="form-group">
                <label for="updateProductId">Product ID:</label>
                <input type="text" id="updateProductId" name="updateProductId" required>
            </div>
            <div class="form-group">
                <label for="newProductName">New Product Name:</label>
                <input type="text" id="newProductName" name="newProductName" required>
            </div>
            <div class="form-group">
                <label for="newProductType">New Product Type:</label>
                <input type="text" id="newProductType" name="newProductType" required>
            </div>
            <div class="form-group">
                <label for="newProductQuantity">New Product Quantity:</label>
                <input type="text" id="newProductQuantity" name="newProductQuantity" required>
            </div>
            <div class="form-group">
                <label for="newProductPrice">New Product Price:</label>
                <input type="text" id="newProductPrice" name="newProductPrice" required>
            </div>
            <div class="form-group">
                <label for="newProductDescription">New Product Description:</label>
                <input type="text" id="newProductDescription" name="newProductDescription" required>
            </div>
            <p id="update-message"></p>
            <div class="form-group">
                <button type="button" class="update-button" onclick="updateProduct()">Update Product</button>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function getAllProducts() {
        $.get("/dashboard/getAllProducts", function(products) {
            // Clear previous product list
            $("#productList").empty();

            // Iterate through each product and append to the product list
            $.each(products, function(index, product) {
                var productDiv = $("<div>").addClass("product");
                productDiv.html("<p>ID: " + product.productId + "</p>"
                    + "<p>Name: " + product.productName + "</p>"
                    + "<p>Price: $" + product.productPrice + "</p>"
                    + "<p>Quantity: " + product.productQuantity + "</p>"
                    + "<p>Description: " + product.productDescription + "</p>"
                    + "<p>Type: " + product.productType + "</p>"
                    + "<hr>");
                $("#productList").append(productDiv);
            });

            // Show the Clear button
            $('#clearButton').css('display', 'inline');
        }).fail(function(xhr, textStatus, errorThrown) {
            console.error("Error fetching products: " + textStatus);
        });
    }
    function clearProductList() {
        $("#productList").empty();
        $('#clearButton').css('display', 'none');
    }
    function resetFormAndMessage(formId, messageElementId) {
        $('#' + formId)[0].reset(); // Reset form
        setTimeout(function() {
            $('#' + messageElementId).text('').css('color', ''); // Reset message and color after delay
        }, 3000); // Delay in milliseconds
    }
    function resetMessage(messageElementId) {
        setTimeout(function() {
            $('#' + messageElementId).text('').css('color', ''); // Reset message and color after delay
        }, 3000); // Delay in milliseconds
    }
    function addProduct() {
        var productName = $('#productName').val();
        var productType = $('#productType').val();
        var productQuantity = $('#productQuantity').val();
        var productPrice = $('#productPrice').val();
        var productDescription = $('#productDescription').val();

        if (isNaN(productPrice) || productPrice <= 0 || isNaN(productQuantity) || productQuantity <= 0) {
            alert('Please enter valid product price and quantity.');
            return;
        }
        var pattern1 = /^MEN$/;
        var pattern2 = /^WOMEN$/;
        if(!(pattern1.test(productType)||pattern2.test(productType))){
            alert('Please enter a valid type');
            return;
        }

        var addProductFormData = {
            productName: productName,
            productType: productType,
            productQuantity: productQuantity,
            productPrice: productPrice,
            productDescription: productDescription
        };

        $.ajax({
            url: '/dashboard/addProduct',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(addProductFormData),
            success: function(response) {
                // Product added successfully
                // $('#addProductForm').trigger('reset');
                $('#add-message').text('Successfully added product!').css('color', 'green');
                resetFormAndMessage('addProductForm', 'add-message')
            },
            error: function(xhr, textStatus, errorThrown) {
                // Error adding product
                console.error('Error adding product:', xhr.status, xhr.responseText);
                $('#add-message').text('Error adding the product!').css('color', 'red').trigger('reset');
                resetMessage('add-message');
            }
        });
    }
    function removeProduct() {
        var productId = $('#productId').val();

        // Check if the productId is empty
        if (!productId) {
            alert('Please enter a product ID.');
            return;
        }

        // Confirm deletion
        if (!confirm('Are you sure you want to delete this product?')) {
            return;
        }

        var requestData = {productId: productId };

        $.ajax({
            url: '/dashboard/removeProduct',
            type: 'DELETE',
            contentType: 'application/json',
            data: JSON.stringify(requestData),
            success: function(response) {
                // Product deleted successfully
                $('#remove-message').text('Product deleted successfully').css('color', 'green');
                resetFormAndMessage('removeProductForm', 'remove-message')
            },
            error: function(xhr, textStatus, errorThrown) {
                // Error deleting product
                console.error('Error deleting product:', xhr.status, xhr.responseText);
                $('#remove-message').text('Error deleting the product!').css('color', 'red').trigger('reset');
                resetMessage('remove-message');
            }
        });
    }
    function updateProduct() {
        var updateProductId = $('#updateProductId').val();
        var newProductName = $('#newProductName').val();
        var newProductType = $('#newProductType').val();
        var newProductPrice = $('#newProductPrice').val();
        var newProductQuantity = $('#newProductQuantity').val();
        var newProductDescription = $('#newProductDescription').val();

        // Check if all required fields are filled
        if (!updateProductId || !newProductName || !newProductType ||
            !newProductPrice || !newProductQuantity || !newProductDescription) {
            alert('Please fill in all fields.');
            return;
        }

        // Construct the update data object
        var updateProductData = {
            productId: updateProductId,
            productName: newProductName,
            productType: newProductType,
            productQuantity: newProductQuantity,
            productPrice: newProductPrice,
            productDescription: newProductDescription
        };
        if (isNaN(productPrice) || productPrice <= 0 || isNaN(productQuantity) || productQuantity <= 0) {
            alert('Please enter valid product price and quantity.');
            return;
        }
        var pattern1 = /^MEN$/;
        var pattern2 = /^WOMEN$/;
        if(!(pattern1.test(productType)||pattern2.test(productType))){
            alert('Please enter a valid type');
            return;
        }

        // Send AJAX request to update the product
        $.ajax({
            url: '/dashboard/updateProduct',
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(updateProductData),
            success: function(response) {
                // Product updated successfully
                $('#update-message').text('Product updated successfully').css('color', 'green');
                resetFormAndMessage('updateProductForm', 'update-message');
            },
            error: function(xhr, textStatus, errorThrown) {
                // Error updating product
                console.error('Error updating product:', xhr.status, xhr.responseText);
                $('#update-message').text('Error updating the product!').css('color', 'red');
                resetMessage('update-message');
            }
        });
    }
</script>

</body>
</html>